

<div class="hero">
<br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Teaching a New Class?</h1>
    <h2>This might help.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
  </div>
</div>

<br />
<div class="row col-xs-12 feature text-center" style="margin-bottom: 20px">
<br />
  <h1><%= link_to 'Prep-Heavy Courses', courses_path %></h1>
  <p class="subtitle text-center">Get ready for the next semester</p>
  <br />
  <div class="bros col-xs-6 col-sm-6" style = "margin-bottom: 15px">
    <h3>Making Media</h3>
  <%= image_tag 'making_media.jpg', class: 'img-responsive' %>
  <br />
  </div>

  <div class="bros col-xs-6 col-sm-6" style="margin-bottom: 15px; height:100%">
    <h3>Modern Asia</h3>
    <%= image_tag 'modern_asia.jpg', class: 'img-responsive' %>
    <br />
  </div>
  <br />
</div>