<div class="hero">
<br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Teaching a New Class?</h1>
    <h2>This might help.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="courses col-12 col-sm">
    <h3>Making Media</h3>
    <p>Get ready for the next semester</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Contemporary Approaches</h3>
    <p>Get ready for the next semester</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Modern Asia</h3>
    <p>Get ready for the next semester</p>
  </div>
</div>